---
import UILayout from "../layouts/UILayout.astro";
---

<UILayout>
  <div class="md:min-w w-full max-w-5xl justify-between">
    <div>
      <p class="ml-6 text-6xl">Hi, I'm Cato</p>
      <p class="mb-6 pl-[3rem] text-6xl sm:pl-[10rem] md:pl-[15rem]">
        Cannizzo
      </p>
    </div><div>
      <p class="mt-[30vh] text-right text-4xl">
        I am a UI designer and <br />a UX researcher
      </p>
    </div>
  </div>
</UILayout>
