---
import UILayout from "../layouts/UILayout.astro";
import ColorBgCard from "@/components/ColorBgCard.astro";
import MouseFollower from "@/components/MouseFollower.astro";
---

<UILayout NoFeedback={true} title="Cato's portfolio">
  <main class="w-full max-w-5xl justify-between py-20 transition-all md:py-10">
    <div class="mr-auto">
      <p class="ml-6 text-5xl md:text-6xl">Hi, I'm Cato</p>
      <p
        class="mb-6 pl-[5rem] text-5xl sm:pl-[10rem] md:pl-[15rem] md:text-6xl">
        Cannizzo
      </p>
    </div>
    <!-- Add typing js change of text -->
    <div class="mt-16 flex w-full flex-col sm:flex-row">
      <ColorBgCard styles=" rounded-[50%] w-48 h-48"
        ><MouseFollower /></ColorBgCard
      ><div class="ml-auto mt-10">
        <p class="max-w-[19ch] text-right text-3xl md:text-4xl">
          I am a UI designer and a UX researcher
        </p>
      </div>
      <!-- <p class="ml-auto mt-5 text-right text-4xl">A interaction creator</p> -->
    </div>
  </main>
</UILayout>
