---
import "../globals.css";
interface Props {
  styles: string;
}
const { styles } = Astro.props;
---

<div
  class={`${styles} mx-auto card relative flex items-center bg-[hsl(var(--card))] after:blur-xl`}>
  <slot />
</div>

<style>
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      hsl(var(--secondary)),
      hsl(var(--accent)),
      hsl(var(--primary)),
      hsl(var(--accent)),
      hsl(var(--secondary))
    );
    border-radius: inherit;
    animation: rotation 8s linear infinite;
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
</style>
