---
import Social from "@comps/Social.astro";
---

<footer class="flex justify-between">
	<div>
		<p>Built with <a href="https://astro.build">{Astro.generator}</a></p>
	</div>
	<div></div>
	<div class="">
		<Social platform="github" username="Catocannizzo" />
		<Social platform="linkedin" username="in/Cato-cannizzo" />
	</div>
</footer>
