@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: 50 20% 98%; /*Base White*/
    --foreground: 240 60% 5%; /*rich black */

    --card: 240 20% 85%; /*white*/
    --card-foreground: 240 20% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 60% 5%;

    --primary: 50 93% 60%; /*Sunset*/
    --primary-foreground: 220.9 20% 8%; /*Text dark */

    --secondary: 220 66% 52%; /*Lapis*/
    --secondary-foreground: 220 14.3% 98%; /*Text white seasalt*/

    --muted: 240 20% 85%; /*<= this is the gettingstarted shade box // shaded base white*/
    --muted-foreground: 220 8.9% 15%; /*Text muted*/

    --accent: 93 56% 46%; /*The Green*/
    --accent-foreground: 220 14.3% 98%;
    --destructive: 04 91% 40%; /*red */
    --destructive-foreground: 220 14.3% 98%;

    --border: 240 20% 85%;
    --input: 240 20% 85%;
    --ring: 240 60% 5%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 50 10% 4%;
    --foreground: 240 20% 95%;

    --card: 240 10% 14%;
    --card-foreground: 240 20% 95%;

    --popover: 0 0% 0%; /*black*/
    --popover-foreground: 0 0% 100%;

    --primary: 38 95% 32%; /*Sunset*/ /*This is the active color */
    --primary-foreground: 220.9 20% 8%; /*Text dark */

    --secondary: 220 100% 29%; /*Lapis*/
    --secondary-foreground: 220 14.3% 98%; /*Text white seasalt*/

    --muted: 240 10% 14%; /*<= this is the gettingstarted shade box // shaded base white*/
    --muted-foreground: 240 20% 85%; /*Text muted*/

    --accent: 93 56% 26%; /*The Green*/
    --accent-foreground: 220 14.3% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
