---
import "../globals.css";
import { ViewTransitions } from "astro:transitions";

//!? https://stackoverflow.com/questions/38729486/typescript-difference-between-import-and-import-with-curly-braces
interface Props {
  title: string;
}
const { title } = Astro.props;
//  !? Calc in html class prevents scroll bar from shifting screen
---

<!doctype html>
<html
  lang="en"
  class="mr-[calc(-1*(100vw-100%))] overflow-x-hidden scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta
      name="description"
      content="Cato Cannizzo's personal potfolio showcasing previous projects and his design preferences and methodology"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Cato Cannizzo" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
    <ViewTransitions />
  </head>
  <body class="h-full w-full">
    <div class="mx-auto flex min-h-[100dvh] max-w-5xl flex-col">
      <slot />
    </div>
  </body>
</html>
