---
import "../globals.css";
import { ViewTransitions } from "astro:transitions";

//!? https://stackoverflow.com/questions/38729486/typescript-difference-between-import-and-import-with-curly-braces

const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
    <style>
      /* !!!Put this in tailwind sometime */
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Regular.woff2") format("woff2");
        font-display: swap;
        font-weight: 400;
      }
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Italic.woff2") format("woff2");
        font-display: swap;
        font-weight: 400;
        font-style: italic;
      }
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Bold.woff2") format("woff2");
        font-display: swap;
        font-weight: 700;
        font-style: Bold;
      }
      /*!? Prevents scroll bar from shifting screen! */
      html {
        overflow-x: hidden;
        margin-right: calc(-1 * (100vw - 100%));
      }
    </style>
    <ViewTransitions />
  </head>
  <body class="h-full dark:bg-zinc-950 dark:text-white">
    <div class="mx-auto max-w-5xl">
      <slot />
    </div>
  </body>
</html>
