---
import Base from "./baseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SkipButton from "@/components/Buttons/SkipButton.astro";
import type UpButton from "@/components/Buttons/UpButton.astro";

interface Props {
  title: string;
  NoFeedback?: boolean;
  skipbutton?: string;
  skipToTopButton?: boolean;
}
const { skipbutton, NoFeedback, title, skipToTopButton } = Astro.props;
---

<Base title={title}>
  <!-- !? Conditional Rendering -->
  {skipbutton && <SkipButton skipSection={skipbutton} />}
  <div role="status" id="generalAlerts" class="sr-only"></div>

  <Header transition:persist skipToTopButton={skipToTopButton} /><div
    transition:animate="slide"
    class="mx-auto flex w-full flex-col items-center
  px-5">
    <slot />
  </div>
  <Footer NoFeedback={NoFeedback} />
</Base>
