---
import Base from "./baseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  nobutton?: boolean;
}
const { nobutton, title } = Astro.props;
---

<Base title={title}>
  <Header transition:persist /><div
    transition:animate="slide"
    class="mx-auto flex flex-col items-center
  px-5">
    <slot />
  </div>
  <Footer nobutton={nobutton} />
</Base>
