---
import UI from "./UILayout.astro";
---

<div
  id="popup"
  class="sticky left-0 top-0 hidden min-h-[100vh] cursor-zoom-out bg-black/75">
  <img id="popupimg" src="" class="m-auto max-h-[90vh] max-w-[90vw]" />
</div>
<UI>
  <slot />
</UI>
<script>
  // add mobile support for touch
  function addPopout() {
    const images: HTMLImageElement[] = document.querySelectorAll("img.popout");
    const popup = document.getElementById("popup");
    const popupimg: HTMLImageElement = document.getElementById(
      "popupimg",
    ) as HTMLImageElement;
    if (!popupimg || !popup) {
      throw new Error("The element #popup or popupimg wasn't found");
    } else {
      images.forEach((imgp) => {
        imgp.style.cursor = "zoom-in";
        imgp.addEventListener("click", () => {
          popup.classList.toggle("hidden");
          popup.classList.toggle("flex");
          popupimg.src = imgp.getAttribute("src");
        });
      });
      popup.onclick = () => {
        popup.classList.toggle("flex");
        popup.classList.toggle("hidden");
      };
    }
  }
  window.addEventListener("load", function () {
    addPopout();
  });
</script>
