.imageHead {
	background: url("../Pictures/LandingPage/CatoNaturePortrait.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15rem;
	width: 25rem;
	border-radius: 1rem;
}
.imageA1 {
	background: url("../Pictures/A1/updatedSchematic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 10rem;
	width: 10rem;
	border-radius: 1rem;
}
.imageA2 {
	background: url("../Pictures/A2/a2schematic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15rem;
	width: 18rem;
	border-radius: 1rem;
}
.imageA1Gif {
	background: url("../Pictures/A1/CircuitOperation.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15rem;
	width: 15rem;
	border-radius: 1rem;
}
.imageA1Schem {
	background: url("../Pictures/A1/updatedSchematic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 12rem;
	width: 12rem;
	border-radius: 1rem;
}
.imageA1Circuit {
	background: url("../Pictures/A1/Circuit.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA2gif {
	background: url("../Pictures/A2/a2gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA2schem {
	background: url("../Pictures/A2/a2schematic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 33rem;
	border-radius: 1rem;
}
.imageA2circ {
	background: url("../Pictures/A2/a2circuit.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA1gif {
	background: url("../Pictures/ICA_PhotoR/photoR.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA1schem {
	background: url("../Pictures/ICA_PhotoR/ICAphotoresistor.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 40rem;
	border-radius: 1rem;
}
.ICA1circ {
	background: url("../Pictures/ICA_PhotoR/PXL_20220125_190909829.MP.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA2gif {
	background: url("../Pictures/ICA_Servo/ICA2gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA2schem {
	background: url("../Pictures/ICA_Servo/ICA2Schem.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 40rem;
	border-radius: 1rem;
}
.ICA2circ {
	background: url("../Pictures/ICA_Servo/ICA2Circuit.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA3gif {
	background: url("../Pictures/A3/A3gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 30rem;
	border-radius: 1rem;
}
.imageA3schem {
	background: url("../Pictures/A3/A3Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 19rem;
	border-radius: 1rem;
}
.imageA3circ {
	background: url("../Pictures/A3/A3Circ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA3 {
	background: url("../Pictures/A3/A3Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 11rem;
	width: 10rem;
	border-radius: 1rem;
}
.ICA3gif {
	background: url("../Pictures/ICACap/ICACapgif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 15rem;
	border-radius: 1rem;
}
.ICA3schem {
	background: url("../Pictures/ICACap/ICA3CapSchem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA3circ {
	background: url("../Pictures/ICACap/ICACapCircuit.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 19rem;
	border-radius: 1rem;
}
.ICA4gif {
	background: url("../Pictures/ICARemote/ICARemotegif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 15rem;
	border-radius: 1rem;
}
.ICA4schem {
	background: url("../Pictures/ICARemote/ICA4Remote.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA4circ {
	background: url("../Pictures/ICARemote/ICERemoteCirc.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 19rem;
	border-radius: 1rem;
}
.imageA4gif {
	background: url("../Pictures/A4/A4Gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 28rem;
	border-radius: 1rem;
}
.imageA4schem {
	background: url("../Pictures/A4/A4Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 40rem;
	border-radius: 1rem;
}
.imageA4circ {
	background: url("../Pictures/A4/A4Circ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 30rem;
	border-radius: 1rem;
}
.imageA4 {
	background: url("../Pictures/A4/A4Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 9.5rem;
	width: 18rem;
	border-radius: 1rem;
}
.ICA5gif {
	background: url("../Pictures/ICA_HBridgeDC/ICA5_Gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA5schem {
	background: url("");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.ICA5circ {
	background: url("../Pictures/ICA_HBridgeDC/ICA5_Circ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA5gif {
	background: url("../Pictures/A5/A5Gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 15rem;
	border-radius: 1rem;
}
.imageA5schem {
	background: url("../Pictures/A5/A5Schem.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 25rem;
	border-radius: 1rem;
}
.imageA5circ {
	background: url("../Pictures/A5/A5Circ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 18rem;
	border-radius: 1rem;
}
.imageA5 {
	background: url("../Pictures/A5/A5Schem.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 9.5rem;
	width: 15rem;
	border-radius: 1rem;
}
.imageA6gif {
	background: url("../Pictures/A6/A6gif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 17rem;
	border-radius: 1rem;
}
.imageA6webgif {
	background: url("../Pictures/A6/A6Webgif.gif");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imageA6schem {
	background: url("../Pictures/A6/A6Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 17rem;
	width: 30rem;
	border-radius: 1rem;
}
.imageA6circ {
	background: url("../Pictures/A6/A6Circ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 18rem;
	border-radius: 1rem;
}
.imageA6 {
	background: url("../Pictures/A6/A6Schem.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 10rem;
	width: 16.5rem;
	border-radius: 1rem;
}

.imagefgif {
	background: url("../Pictures/Final/fgif.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 17rem;
	border-radius: 1rem;
}
.imagefcirc1 {
	background: url("../Pictures/Final/FCircuit1.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
}
.imagefschem {
	background: url("../Pictures/Final/FCircuit.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 17rem;
	width: 30rem;
	border-radius: 1rem;
}
.imagefcirc2 {
	background: url("../Pictures/Final/FCircuit2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 18rem;
	border-radius: 1rem;
}
.imageffinal {
	background: url("../Pictures/Final/FFinal.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 10rem;
	width: 16.5rem;
	border-radius: 1rem;
}
